In [2]:
import pandas as pd
import numpy as np

In [4]:
univ_df = pd.read_csv( "winequality.csv" )
univ_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
#2. Выполпить преобработку данных
#1. Числовые переменные пометить меткой float64. [метод astype](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)

In [6]:
columns = univ_df.select_dtypes(include=[np.float64]).columns
univ_df[columns] = univ_df[columns].astype(np.float64)
univ_df[columns]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [14]:
#2. Категориальные переменные пометить меткой category. [метод astype](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html)

In [20]:
def df(column):
 if column['free sulfur dioxide'] < 30:
    val = 'Low'
 elif (column['free sulfur dioxide'] >30) & (column['free sulfur dioxide'] < 70):
    val = 'Middle'
 else :
    val = 'High'
 return val

univ_df['categ_free_sulfur_dioxide'] = univ_df.apply (df, axis=1)

In [21]:
columns = univ_df.select_dtypes(include=[object]).columns
univ_df[columns] = univ_df[columns].astype('category')
univ_df[columns]

     categ_free_sulfur_dioxide
0                          Low
1                          Low
2                          Low
3                          Low
4                          Low
...                        ...
1594                    Middle
1595                    Middle
1596                       Low
1597                    Middle
1598                       Low

[1599 rows x 1 columns]

In [19]:
univ_df.dtypes

fixed acidity                 float64
volatile acidity              float64
citric acid                   float64
residual sugar                float64
chlorides                     float64
free sulfur dioxide           float64
total sulfur dioxide          float64
density                       float64
pH                            float64
sulphates                     float64
alcohol                       float64
quality                         int64
categ_free_sulfur_dioxide    category
dtype: object