In [1]:
import pandas as pd
import numpy as np

In [2]:
univ_df = pd.read_csv( "expanded.csv" )
univ_df

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [3]:
#2. Выполпить преобработку данных
#1. Числовые переменные пометить меткой float64.

In [4]:
columns = univ_df.select_dtypes(include=[np.float64]).columns
univ_df[columns] = univ_df[columns].astype(np.float64)
univ_df[columns]

       NrSiblings
0             3.0
1             0.0
2             4.0
3             1.0
4             0.0
...           ...
30636         2.0
30637         1.0
30638         1.0
30639         3.0
30640         1.0

[30641 rows x 1 columns]

In [5]:
#2. Категориальные переменные пометить меткой category.

In [6]:
columns = univ_df.select_dtypes(include=[object]).columns
univ_df[columns] = univ_df[columns].astype('category')
univ_df[columns]

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,TransportMeans,WklyStudyHours
0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,school_bus,< 5
1,female,group C,some college,standard,NaN,married,sometimes,yes,NaN,5 - 10
2,female,group B,master's degree,standard,none,single,sometimes,yes,school_bus,< 5
3,male,group A,associate's degree,free/reduced,none,married,never,no,NaN,5 - 10
4,male,group C,some college,standard,none,married,sometimes,yes,school_bus,5 - 10
...,...,...,...,...,...,...,...,...,...,...
30636,female,group D,high school,standard,none,single,sometimes,no,school_bus,5 - 10
30637,male,group E,high school,standard,none,single,regularly,no,private,5 - 10
30638,female,NaN,high school,free/reduced,completed,married,sometimes,no,private,5 - 10
30639,female,group D,associate's degree,standard,completed,married,regularly,no,school_bus,5 - 10
30640,male,group B,some college,standard,none,married,never,no,school_bus,5 - 10

In [7]:
univ_df.dtypes

Unnamed: 0                int64
Gender                 category
EthnicGroup            category
ParentEduc             category
LunchType              category
TestPrep               category
ParentMaritalStatus    category
PracticeSport          category
IsFirstChild           category
NrSiblings              float64
TransportMeans         category
WklyStudyHours         category
MathScore                 int64
ReadingScore              int64
WritingScore              int64
dtype: object

In [8]:
#3. Вывести tail, head набора данных

In [9]:
univ_df.tail()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

In [10]:
univ_df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [11]:
#4. Вывести df.info

In [12]:
univ_df.info

<bound method DataFrame.info of        Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType  \
0               0  female         NaN   bachelor's degree      standard
1               1  female     group C        some college      standard
2               2  female     group B     master's degree      standard
3               3    male     group A  associate's degree  free/reduced
4               4    male     group C        some college      standard
...           ...     ...         ...                 ...           ...
30636         816  female     group D         high school      standard
30637         890    male     group E         high school      standard
30638         911  female         NaN         high school  free/reduced
30639         934  female     group D  associate's degree      standard
30640         960    male     group B        some college      standard

        TestPrep ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings  \
0           none             married     regularly          yes         3.0
1            NaN             married     sometimes          yes         0.0
2           none              single     sometimes          yes         4.0
3           none             married         never           no         1.0
4           none             married     sometimes          yes         0.0
...          ...                 ...           ...          ...         ...
30636       none              single     sometimes           no         2.0
30637       none              single     regularly           no         1.0
30638  completed             married     sometimes           no         1.0
30639  completed             married     regularly           no         3.0
30640       none             married         never           no         1.0

      TransportMeans WklyStudyHours  MathScore  ReadingScore  WritingScore
0         school_bus            < 5         71            71            74
1                NaN         5 - 10         69            90            88
2         school_bus            < 5         87            93            91
3                NaN         5 - 10         45            56            42
4         school_bus         5 - 10         76            78            75
...              ...            ...        ...           ...           ...
30636     school_bus         5 - 10         59            61            65
30637        private         5 - 10         58            53            51
30638        private         5 - 10         61            70            67
30639     school_bus         5 - 10         82            90            93
30640     school_bus         5 - 10         64            60            58

[30641 rows x 15 columns]>

In [13]:
#5. Вывести статистические показатели .describe()

In [14]:
univ_df.describe()

         Unnamed: 0    NrSiblings     MathScore  ReadingScore  WritingScore
count  30641.000000  29069.000000  30641.000000  30641.000000  30641.000000
mean     499.556607      2.145894     66.558402     69.377533     68.418622
std      288.747894      1.458242     15.361616     14.758952     15.443525
min        0.000000      0.000000      0.000000     10.000000      4.000000
25%      249.000000      1.000000     56.000000     59.000000     58.000000
50%      500.000000      2.000000     67.000000     70.000000     69.000000
75%      750.000000      3.000000     78.000000     80.000000     79.000000
max      999.000000      7.000000    100.000000    100.000000    100.000000

In [15]:
#3. Выполнить поиск признаков, содержащих NaN, и вычислить их

In [16]:
for column in univ_df.columns.tolist():
    a = univ_df[column].isnull().sum(0)
    if a > 0:
        print(column)
        print("Nan: ", univ_df[column].isnull().sum(0))
        print(univ_df[column].describe())
        print("_______________________________")

EthnicGroup
Nan:  1840
count       28801
unique          5
top       group C
freq         9212
Name: EthnicGroup, dtype: object
_______________________________
ParentEduc
Nan:  1845
count            28796
unique               6
top       some college
freq              6633
Name: ParentEduc, dtype: object
_______________________________
TestPrep
Nan:  1830
count     28811
unique        2
top        none
freq      18856
Name: TestPrep, dtype: object
_______________________________
ParentMaritalStatus
Nan:  1190
count       29451
unique          4
top       married
freq        16844
Name: ParentMaritalStatus, dtype: object
_______________________________
PracticeSport
Nan:  631
count         30010
unique            3
top       sometimes
freq          15213
Name: PracticeSport, dtype: object
_______________________________
IsFirstChild
Nan:  904
count     29737
unique        2
top         yes
freq      19082
Name: IsFirstChild, dtype: object
_______________________________
NrSiblings
Nan:  1572
count    29069.000000
mean         2.145894
std          1.458242
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          7.000000
Name: NrSiblings, dtype: float64
_______________________________
TransportMeans
Nan:  3134
count          27507
unique             2
top       school_bus
freq           16145
Name: TransportMeans, dtype: object
_______________________________
WklyStudyHours
Nan:  955
count      29686
unique         3
top       5 - 10
freq       16246
Name: WklyStudyHours, dtype: object
_______________________________

In [17]:
#4. Применить методы восстановления значений признака:
#1. Применить методы замены пропусков для числовых значений: среднее, медиана, на основе корреляции,
# на основе расстояния (любой). Объяснить результат (какой из методов более подходит для восстановление значения признака)
#Среднее

In [18]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

newDataMean = univ_df.copy()

newDataMean.dtypes
for column in newDataMean.columns.tolist():
    if newDataMean[column].dtype != np.float64:
        newDataMean.drop(columns = column, axis=1, inplace=True)

for column in newDataMean.columns.tolist():
     print(column)
     print(newDataMean[newDataMean[column].isnull()])
     newDataMean[column] = newDataMean[column].fillna(0);



print(newDataMean.iloc[171:180])

newArrayMeanNormilize = preprocessing.normalize(newDataMean, axis=0)


namesColumn = newDataMean.columns


newFd = pd.DataFrame(newArrayMeanNormilize, columns = namesColumn)


for column in newFd.columns.tolist():
    newFd.loc[(newFd[column] == 0.0), column] = newFd[column].mean()

print(newFd.iloc[171:180])

NrSiblings
       NrSiblings
9             NaN
34            NaN
44            NaN
50            NaN
56            NaN
...           ...
30565         NaN
30596         NaN
30602         NaN
30614         NaN
30627         NaN

[1572 rows x 1 columns]
     NrSiblings
171         5.0
172         1.0
173         4.0
174         3.0
175         1.0
176         2.0
177         2.0
178         3.0
179         4.0
     NrSiblings
171    0.011303
172    0.002261
173    0.009043
174    0.006782
175    0.002261
176    0.004521
177    0.004521
178    0.006782
179    0.009043

In [19]:
#Медиана

In [20]:
newDataMedian = univ_df.copy()

newDataMedian.dtypes
for column in newDataMedian.columns.tolist():
    if newDataMedian[column].dtype != np.float64:
        newDataMedian.drop(columns = column, axis=1, inplace=True)

for column in newDataMedian.columns.tolist():
     print(column)
     print(newDataMedian[newDataMedian[column].isnull()])
     newDataMedian[column] = newDataMedian[column].fillna(0);


print(newDataMedian.iloc[171:180])

newArrayMedianNormilize = preprocessing.normalize(newDataMedian, axis=0)

namesColumn = newDataMedian.columns


newFdMed = pd.DataFrame(newArrayMedianNormilize, columns = namesColumn)


for column in newFdMed.columns.tolist():
    newFdMed.loc[(newFdMed[column] == 0.0), column] = newFdMed[column].median()

print(newFdMed.iloc[171:180])

NrSiblings
       NrSiblings
9             NaN
34            NaN
44            NaN
50            NaN
56            NaN
...           ...
30565         NaN
30596         NaN
30602         NaN
30614         NaN
30627         NaN

[1572 rows x 1 columns]
     NrSiblings
171         5.0
172         1.0
173         4.0
174         3.0
175         1.0
176         2.0
177         2.0
178         3.0
179         4.0
     NrSiblings
171    0.011303
172    0.002261
173    0.009043
174    0.006782
175    0.002261
176    0.004521
177    0.004521
178    0.006782
179    0.009043

In [21]:
#Корреляция

In [22]:
newDataKK = univ_df.copy()

newDataKK.dtypes
for column in newDataKK.columns.tolist():
    if newDataKK[column].dtype != np.float64:
        newDataKK.drop(columns = column, axis=1, inplace=True)

for column in newDataKK.columns.tolist():
     print(column)
     print(newDataKK[newDataKK[column].isnull()])
     newDataKK[column] = newDataKK[column].fillna(0);


print(newDataKK.iloc[171:180])

newArrayKKNormilize = preprocessing.normalize(newDataKK, axis=0)

namesColumn = newDataKK.columns


newFdKK = pd.DataFrame(newArrayKKNormilize, columns = namesColumn)


for column in newFdKK.columns.tolist():
    if column == "Age" or column == "Years of Experience":
        newFdKK.loc[(newFdKK[column] == 0.0), column] = newFdKK[column].median()
    else:
        newFdKK.loc[(newFdKK[column] == 0.0), column] = newFdKK[column].corr(newFdKK["Years of Experience"])

print(newFdKK.iloc[171:180])

NrSiblings
       NrSiblings
9             NaN
34            NaN
44            NaN
50            NaN
56            NaN
...           ...
30565         NaN
30596         NaN
30602         NaN
30614         NaN
30627         NaN

[1572 rows x 1 columns]
     NrSiblings
171         5.0
172         1.0
173         4.0
174         3.0
175         1.0
176         2.0
177         2.0
178         3.0
179         4.0

KeyError: 'Years of Experience'

In [ ]:
#Метрика

In [ ]:
newDataMetric = univ_df.copy()

for column in newDataMetric.columns.tolist():
    if newDataMetric[column].dtype != np.float64:
        newDataMetric.drop(columns = column, axis=1, inplace=True)

import math
import numpy as np

def calc_metr(sample1: np.array, sample2: np.array):
    distance = np.sqrt(np.dot(sample1-sample2, sample1-sample2))
    return distance

df_copied = newDataMetric.copy()
for columnsEL, valueEl in newDataMetric.loc[univ_df.MathScore.isnull()].fillna(0).iterrows():
        metrics_result = []
        print(columnsEL, valueEl.to_numpy())
        for columns, values in newDataMetric[~univ_df.MathScore.isnull()].iterrows():

            x2 = values.to_numpy()
            metric_value = calc_metr(valueEl.to_numpy(), x2)
            metrics_result.append(metric_value)

        values = univ_df[~univ_df.Salary.isnull()].Salary.to_numpy()
        metrics_result = np.array(metrics_result)

        normal = 1 / np.sum(1 / metrics_result)
        score = np.sum(np.divide(values, metrics_result)) * normal
        df_copied.at[columnsEL, 'MathScore'] = score
        print(score, "score")

df_copied.iloc[0:60]

In [ ]:
#2. Применить методы замены пропусков для номинальных: на основе моды (можно использовать более сложные методы, например предсказывания на основе других признаков, но если существует связь с этим(-и) признаками, например на основе тестов на значиомсть)

In [ ]:
newDataModeEl = univ_df.copy()

newDataModeEl.dtypes
for column in newDataModeEl.columns.tolist():
    if newDataModeEl[column].dtype == np.float64:
        newDataModeEl.drop(columns = column, axis=1, inplace=True)

for column in newDataModeEl.columns.tolist():
     print(column)
     print(newDataModeEl[newDataModeEl[column].isnull()])
     print("->")

for column in newDataModeEl.columns.tolist():
    newDataModeEl[column] = newDataModeEl[column].fillna(newDataModeEl[column].to_numpy()[0])

newDataModeEl.iloc[150:180]

In [ ]:
#5. Не забываем про нормирование:

In [ ]:
#1. Провести поиск аномалий числовых переменных методами одного признака.
  #1.1. На основе простейшего метода из алгоритма 2 (с учетом нормальности)

In [ ]:
newDataOuts1 = univ_df.copy()

newDataOuts1.dtypes
for column in newDataOuts1.columns.tolist():
    if newDataOuts1[column].dtype != np.float64:
        newDataOuts1.drop(columns = column, axis=1, inplace=True)

for column in newDataOuts1.columns.tolist():
     print(newDataOuts1[newDataOuts1[column].isnull()])
     newDataOuts1[column] = newDataOuts1[column].fillna(0);

newArrayOut1Normilize = preprocessing.normalize(newDataOuts1, axis=0)

namesColumn = newDataOuts1.columns


newFdOut1 = pd.DataFrame(newArrayOut1Normilize, columns = namesColumn)

print(newFdOut1.describe());

In [ ]:
# 1.2. На основе методов без использование среднего и СКО

In [ ]:
newDataOuts2 = univ_df.copy()

newDataOuts2.dtypes
for column in newDataOuts2.columns.tolist():
    if newDataOuts2[column].dtype != np.float64:
        newDataOuts2.drop(columns = column, axis=1, inplace=True)

for column in newDataOuts2.columns.tolist():
     print(newDataOuts2[newDataOuts2[column].isnull()])
     newDataOuts2[column] = newDataOuts2[column].fillna(0);

newArrayOut2Normilize = preprocessing.normalize(newDataOuts2, axis=0)

namesColumn = newDataOuts2.columns

newFdOut2 = pd.DataFrame(newArrayOut2Normilize, columns = namesColumn)

print(newFdOut2)

for column in newFdOut2.columns.tolist():
    _, boxplot = newFdOut2.boxplot(column, return_type='both')
    outliers = [flier.get_ydata() for flier in boxplot["fliers"]]
    print("Выбросы для ", column)
    print(outliers)

In [ ]:
#1.4. На основе критерия Шовене

import math
import statistics as st
import pandas as pd
import numpy as np

def shovene(data):
    df=data.iloc[:, 0].tolist()
    iteration_counter = 0
    pp=[ ]
    while True and len(df) > 1:
        iteration_counter += 1
        stop_iter = True
        p_mean = st.mean(df)
        p_stdev = st.stdev(df)
        print("Итерация:", iteration_counter)
        for p in list(df):
            if p_stdev > 0 and\
                math.erfc (math.fabs (p-p_mean)/p_stdev)<1/(2*len(df)):
                print("Обнаружена аномалия:", p)
                pp.append(p)
                df.remove(p)
                stop_iter = False
        if stop_iter:
            break
    d_float=np.array(pp, dtype=np.float32)
    return round((len(d_float)/len(data)*100),2), d_float

newDataShov = univ_df.copy()

newDataShov.dtypes
for column in newDataShov.columns.tolist():
    if newDataShov[column].dtype != np.float64:
        newDataShov.drop(columns = column, axis=1, inplace=True)

for column in newDataShov.columns.tolist():
     print(newDataShov[newDataShov[column].isnull()])
     newDataShov[column] = newDataShov[column].fillna(0);

newArrayShovNormilize = preprocessing.normalize(newDataShov, axis=0)

namesColumn = newDataShov.columns


newFdShov = pd.DataFrame(newArrayShovNormilize, columns = namesColumn)
dd=shovene(newFdShov)
print("Процент выбросов: ",dd[0], "\nВыбросы: ", dd[1])

In [ ]:
#6. Тесты на статистическую сенсорность (Не забываем про нормирование):

In [ ]:
#1. Выбрать в качестве X и Y числовые переменны
 #1.1. Проверить на нормальность

In [ ]:
import matplotlib.pyplot as plt

elementXY = univ_df[["ReadingScore", "MathScore"]].copy()

for column in elementXY.columns.tolist():
     print(elementXY[elementXY[column].isnull()])
     elementXY[column] = elementXY[column].fillna(0);


newArrayXYNormilize = preprocessing.normalize(elementXY, axis=0)

namesColumn = elementXY.columns


newFdXY = pd.DataFrame(newArrayXYNormilize, columns = namesColumn)


print(newFdXY)

plt.scatter(newFdXY["MathScore"], newFdXY["ReadingScore"])
plt.plot([min(newFdXY["MathScore"]),max(newFdXY["MathScore"])],[min(newFdXY["MathScore"]),max(newFdXY["MathScore"])],color="red")
plt.xlabel("MathScore")
plt.ylabel("ReadingScore")
plt.show()

In [ ]:
#1.2. Применить подходящий метод, объяснить результат

In [ ]:
from scipy. stats import ttest_ind

elementXY = univ_df[["ReadingScore", "MathScore"]].copy()

for column in elementXY.columns.tolist():
     print(elementXY[elementXY[column].isnull()])
     elementXY[column] = elementXY[column].fillna(0);


newArrayXYNormilize = preprocessing.normalize(elementXY, axis=0)

namesColumn = elementXY.columns


newFdXY = pd.DataFrame(newArrayXYNormilize, columns = namesColumn)

print(newFdXY)

result = ttest_ind(newFdXY["MathScore"], newFdXY["ReadingScore"])
print(result)

In [ ]:
#2. Выбрать в качестве X и Y числовую и номинальную переменную соответственно

In [ ]:
from scipy. stats import ttest_ind

elementXY = univ_df[["Gender", "MathScore"]].copy()


elementXY["MathScore"] = elementXY["MathScore"].fillna(0);

group1 = elementXY[elementXY["Gender"] == "female"]
group2 = elementXY[elementXY["Gender"] == "male"]

elementXY["MathScore"] = (elementXY["MathScore"]-elementXY["MathScore"].min ())/(elementXY["MathScore"].max ()-elementXY["MathScore"].min ())

print(elementXY)

result1 = ttest_ind(group1["MathScore"], group2["MathScore"])
print(result1)

In [ ]:
#3. Выбрать в качестве X и Y номинальные переменные

In [ ]:
from scipy. stats import ttest_ind
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

elementXY = univ_df[["IsFirstChild", "Gender"]].copy()

le.fit(elementXY["Gender"])
elementXY["Gender"] = le.transform(elementXY["Gender"])

le.fit(elementXY["IsFirstChild"])
elementXY["IsFirstChild"] = le.transform(elementXY["IsFirstChild"])

print(elementXY[(univ_df.Gender == "Male")])

result1 = ttest_ind(elementXY["Gender"], elementXY["IsFirstChild"])