In [1]:
import pandas as pd
import numpy as np

In [3]:
univ_df = pd.read_csv( "winequality.csv" )
univ_df
univ_df.head(5).T

                            0        1       2       3        4
fixed acidity          7.4000   7.8000   7.800  11.200   7.4000
volatile acidity       0.7000   0.8800   0.760   0.280   0.7000
citric acid            0.0000   0.0000   0.040   0.560   0.0000
residual sugar         1.9000   2.6000   2.300   1.900   1.9000
chlorides              0.0760   0.0980   0.092   0.075   0.0760
free sulfur dioxide   11.0000  25.0000  15.000  17.000  11.0000
total sulfur dioxide  34.0000  67.0000  54.000  60.000  34.0000
density                0.9978   0.9968   0.997   0.998   0.9978
pH                     3.5100   3.2000   3.260   3.160   3.5100
sulphates              0.5600   0.6800   0.650   0.580   0.5600
alcohol                9.4000   9.8000   9.800   9.800   9.4000
quality                5.0000   5.0000   5.000   6.000   5.0000

In [4]:
univ_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [5]:
 # 2.1 описать типы переменных в наборе (какие являются непрерывные, категориальные, номинальные)
   # Типы переменных являются:
       # 0 - числовые непрерывные
      #  1 - числовые непрерывные
       # 2 - числовые непрерывные
       # 3 - числовые непрерывные
       # 4 - числовые непрерывные
        #5 - числовые непрерывные
       # 6 - числовые непрерывные
       # 7 - числовые непрерывные
       # 8 - числовые непрерывные
       ## 9 - числовые непрерывные
       # 10 - числовые непрерывные
       # 11 - категориальная

In [6]:
univ_df.describe(include = "float64")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000

In [7]:
univ_df.describe(include = "int64")

           quality
count  1599.000000
mean      5.636023
std       0.807569
min       3.000000
25%       5.000000
50%       6.000000
75%       6.000000
max       8.000000

In [8]:
#2.2 вывести статистические характеристики набора

In [9]:
#3.1 являются ли переменные номинальными или представяют собой категории
#Переменные номинальные не являются, а последняя переменная является категориальной

In [10]:
# 3.2 имеются ли в данных какие-то особенности в виде опечаток, ошибок ввода (по возможности)
   # Ошибок и опечаток не обнаружено

In [11]:
univ_df.chlorides.unique()

array([0.076, 0.098, 0.092, 0.075, 0.069, 0.065, 0.073, 0.071, 0.097,
       0.089, 0.114, 0.176, 0.17 , 0.368, 0.086, 0.341, 0.077, 0.082,
       0.106, 0.084, 0.085, 0.08 , 0.105, 0.083, 0.103, 0.066, 0.172,
       0.074, 0.088, 0.332, 0.05 , 0.054, 0.113, 0.068, 0.081, 0.11 ,
       0.07 , 0.111, 0.079, 0.115, 0.094, 0.093, 0.104, 0.464, 0.401,
       0.062, 0.107, 0.045, 0.058, 0.102, 0.467, 0.091, 0.122, 0.09 ,
       0.119, 0.178, 0.146, 0.072, 0.118, 0.049, 0.06 , 0.117, 0.087,
       0.236, 0.61 , 0.095, 0.1  , 0.36 , 0.067, 0.27 , 0.099, 0.046,
       0.061, 0.056, 0.039, 0.059, 0.101, 0.057, 0.337, 0.078, 0.263,
       0.063, 0.611, 0.064, 0.096, 0.358, 0.343, 0.186, 0.112, 0.213,
       0.214, 0.121, 0.128, 0.052, 0.12 , 0.116, 0.109, 0.159, 0.124,
       0.174, 0.047, 0.127, 0.413, 0.152, 0.053, 0.055, 0.051, 0.125,
       0.2  , 0.171, 0.226, 0.25 , 0.108, 0.148, 0.143, 0.222, 0.157,
       0.422, 0.034, 0.387, 0.415, 0.243, 0.241, 0.19 , 0.132, 0.126,
       0.038, 0.044, 0.041, 0.165, 0.048, 0.145, 0.147, 0.012, 0.194,
       0.161, 0.123, 0.414, 0.216, 0.043, 0.042, 0.369, 0.166, 0.136,
       0.403, 0.137, 0.168, 0.153, 0.267, 0.169, 0.205, 0.235, 0.23 ])

In [12]:
 #3.3 Имеются ли пустые значения полей
   # Нет нулевых значений.

In [13]:
univ_df.isnull()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [14]:
#3.4 Статистические характеристики числовых полей (мин, макс, среднее,медиана).

In [15]:
univ_df.chlorides.min()

0.012

In [16]:
univ_df.chlorides.max()

0.611

In [17]:
univ_df.chlorides.mean()

0.08746654158849279

In [18]:
univ_df.chlorides.median()

0.079

In [19]:
#4. Выполнить срезы набора данных: по именам полей, по индексам

In [20]:
univ_df.loc[:, "chlorides":]

,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...
1594,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [21]:
univ_df.iloc[0:10, 1:4]

   volatile acidity  citric acid  residual sugar
0              0.70         0.00             1.9
1              0.88         0.00             2.6
2              0.76         0.04             2.3
3              0.28         0.56             1.9
4              0.70         0.00             1.9
5              0.66         0.00             1.8
6              0.60         0.06             1.6
7              0.65         0.00             1.2
8              0.58         0.02             2.0
9              0.50         0.36             6.1

In [22]:
#5. Выполнить выбороки с фильтрацией по значниям полей (равенство, неравенство, частичный фильтр строк с помощью лямбда-функции), с использованием |, &

In [23]:
univ_df.iloc[lambda x: x.index % 2 == 0,[True, True, False, True, False, True, True, False, True, False, True, False]]

,fixed acidity,volatile acidity,residual sugar,free sulfur dioxide,total sulfur dioxide,pH,alcohol
0,7.4,0.70,1.9,11.0,34.0,3.51,9.4
2,7.8,0.76,2.3,15.0,54.0,3.26,9.8
4,7.4,0.70,1.9,11.0,34.0,3.51,9.4
6,7.9,0.60,1.6,15.0,59.0,3.30,9.4
8,7.8,0.58,2.0,9.0,18.0,3.36,9.5
...,...,...,...,...,...,...,...
1590,6.3,0.55,1.8,26.0,35.0,3.32,11.6
1592,6.3,0.51,2.3,29.0,40.0,3.42,11.0
1594,6.2,0.60,2.0,32.0,44.0,3.45,10.5
1596,6.3,0.51,2.3,29.0,40.0,3.42,11.0
1598,6.0,0.31,3.6,18.0,42.0,3.39,11.0

In [24]:
univ_df[ (univ_df.pH == 2.0) & (univ_df.alcohol == 6.0) | (univ_df.alcohol == 10.0)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
58,7.8,0.590,0.18,2.3,0.076,17.0,54.0,0.99750,3.43,0.59,10.0,5
116,8.3,0.540,0.28,1.9,0.077,11.0,40.0,0.99780,3.39,0.61,10.0,6
146,5.8,0.680,0.02,1.8,0.087,21.0,94.0,0.99440,3.54,0.52,10.0,5
162,7.8,0.530,0.04,1.7,0.076,17.0,31.0,0.99640,3.33,0.56,10.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1461,6.2,0.785,0.00,2.1,0.060,6.0,13.0,0.99664,3.59,0.61,10.0,4
1466,7.3,0.480,0.32,2.1,0.062,31.0,54.0,0.99728,3.30,0.65,10.0,7
1468,7.3,0.480,0.32,2.1,0.062,31.0,54.0,0.99728,3.30,0.65,10.0,7
1494,6.4,0.310,0.09,1.4,0.066,15.0,28.0,0.99459,3.42,0.70,10.0,7
1524,6.0,0.420,0.19,2.0,0.075,22.0,47.0,0.99522,3.39,0.78,10.0,6

In [25]:
#5.1 Выполнить сортировку отфильтрованного набора данных

In [26]:
univ_df[ univ_df.alcohol == 10 ].sort_values( by = ["volatile acidity", "free sulfur dioxide", "alcohol"], ascending = [True, False, True] )

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1143,7.0,0.220,0.30,1.8,0.065,16.0,20.0,0.99672,3.61,0.82,10.0,6
520,9.8,0.250,0.49,2.7,0.088,15.0,33.0,0.99820,3.42,0.90,10.0,6
1494,6.4,0.310,0.09,1.4,0.066,15.0,28.0,0.99459,3.42,0.70,10.0,7
709,9.7,0.310,0.47,1.6,0.062,13.0,33.0,0.99830,3.27,0.66,10.0,6
250,10.8,0.320,0.44,1.6,0.063,16.0,37.0,0.99850,3.22,0.78,10.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...
981,9.5,0.860,0.26,1.9,0.079,13.0,28.0,0.99712,3.25,0.62,10.0,5
1376,8.2,0.885,0.20,1.4,0.086,7.0,31.0,0.99460,3.11,0.46,10.0,5
600,8.2,0.915,0.27,2.1,0.088,7.0,23.0,0.99620,3.26,0.47,10.0,4
775,7.2,1.000,0.00,3.0,0.102,7.0,16.0,0.99586,3.43,0.46,10.0,5
1012,7.7,1.005,0.15,2.1,0.102,11.0,32.0,0.99604,3.23,0.48,10.0,5

In [27]:
#6.	Выполнить группировку данных по некоторым признакам (на основе предварительного анализа содержимого набора данных)

In [28]:
univ_df.groupby(["alcohol"])[["volatile acidity","free sulfur dioxide"]].agg( [np.mean, np.min, np.max] )

          volatile acidity             free sulfur dioxide
                      mean  amin  amax                mean  amin  amax
alcohol
8.400000          0.460000  0.31  0.61            5.500000   5.0   6.0
8.500000          0.380000  0.38  0.38           27.000000  27.0  27.0
8.700000          0.330000  0.24  0.42           21.500000  11.0  32.0
8.800000          0.500000  0.50  0.50           48.000000  48.0  48.0
9.000000          0.586833  0.34  1.07           16.466667   5.0  55.0
...                    ...   ...   ...                 ...   ...   ...
13.500000         0.290000  0.29  0.29            3.000000   3.0   3.0
13.566667         0.470000  0.47  0.47           16.000000  16.0  16.0
13.600000         0.412500  0.36  0.47           20.250000  16.0  29.0
14.000000         0.407143  0.34  0.49           21.428571   7.0  28.0
14.900000         0.360000  0.36  0.36           22.000000  22.0  22.0

[65 rows x 6 columns]

In [29]:
#7.	Выполнить объединение таблиц с различнымы типами присоединения (если нет возможности выполнить эту операцию с загруженным набором, то допускается создать собственные наборы)

In [30]:
user_df = pd.DataFrame(["winequality"])
user_df
merge = pd.merge(univ_df, user_df,
                       how='left', left_index=True, right_index=True)
merge.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,0
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,winequality
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,NaN
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,NaN
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,NaN
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,NaN

In [31]:
std_df = pd.DataFrame([["Саша", 188],
                        ["Петя", 176],
                        ["Вася", 180],
                        ["Антон", 192],
                        ["Катя", 168],
                        ["Сергей", 183]], columns=["Имя", "Рост"])
std_df

      Имя  Рост
0    Саша   188
1    Петя   176
2    Вася   180
3   Антон   192
4    Катя   168
5  Сергей   183

In [32]:
study_df = pd.DataFrame([["Коля", "ВВГУ"],
                        ["Ваня", "ВВГУ"],
                        ["Федя", "ДВФУ"],
                        ["Динис", "ДВФУ"],
                        ["Лиза", "ТГМУ"],
                        ["Саша"]], columns=["Имя", "Вуз"])
study_df

     Имя   Вуз
0   Коля  ВВГУ
1   Ваня  ВВГУ
2   Федя  ДВФУ
3  Динис  ДВФУ
4   Лиза  ТГМУ
5   Саша  None

In [33]:
full_df = std_df.merge(study_df, how = "right", left_on = "Имя", right_on = "Имя")
full_df

     Имя   Рост   Вуз
0   Коля    NaN  ВВГУ
1   Ваня    NaN  ВВГУ
2   Федя    NaN  ДВФУ
3  Динис    NaN  ДВФУ
4   Лиза    NaN  ТГМУ
5   Саша  188.0  None